.container {
    margin-top: 5.5em;
    padding: 0.1em;
    padding-bottom: 5em;
    padding-left: 1rem;
    padding-right: 1rem;
}


@media screen and (min-width: 900px) {
    .container {
        margin:auto;
        margin-top: 5.5em;
        width: 50em;
    }
}
