.brick {
    width: 10rem;
    height: 10rem;
    border: 0.05rem solid #607d8b;
    border-radius: 5px;
    display: inline-block;
    margin: 1.5rem;
    opacity: 0;
    animation: 500ms appear forwards ease-in-out;
}

@keyframes appear {
    0% { opacity:0; }
    50% { opacity:0.5; }
    100% { opacity: 1; }
}

.brick-selected {
    background: #CFEFFF;
}

.brick-selected:hover {
    background: #9DC5DA !important;
    cursor: pointer;
}

.brick:hover {
    background: #c4dae5;
    cursor: pointer;
}


.brick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }