.container {
    margin-top: 4.5em;
    padding: 0.1em;
    padding-bottom: 5em;
    padding-left: 1rem;
    padding-right: 1rem;
}

.second-navbar {
    height: 2.5rem;
    border-top: 0.01rem solid lightgrey;
}

.second-navbar > .Navbar__item {
    padding: 0;
    font-size: 2.2rem;
}

@media screen and (max-width: 200px) {
    body {
        display: none;
    }
}

.switch-wrapper {
    position: relative;
}
  
.switch-wrapper > div {
    position: absolute;
}

.List__item > a {
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

/* custom color */
.Navbar, .Drawer__container {
    background-color: @@PRIMARY_COLOR@@;
}